@import '../../variables.scss';

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 60px 0px;

    .result-container {
        width: $content-size-desk;
        display: grid;
        grid-template-columns: auto auto auto auto;

        @media screen and (max-width: $mobile) {
            width: 95%;
            grid-template-columns: auto;
        }
    }
}